<h1>Friends list goes here</h1>

<% friends.forEach(function(friend){ %>
	<li><%= friend %></li>
<% }) %>

<form action="/addfriend" method="POST">
	<input type="text" name="newFriend" placeholder="Name">
	<button>I made a new friendS</button>
</form>